@charset "utf-8";
/* CSS Document */
html{ font-size:50px;}
body{
	text-align:center;
	font-size:0.28rem; line-height:1.3;
	color:#231815;
	font-family:STHeiti-Light,'Hiragino Sans GB','Microsoft Yahei',Arial;
	background:#f4ce1a;
	overflow-x:hidden;
	max-width:480px; margin:0 auto !important;
	}
	body.bg1{ background:linear-gradient(rgba(145,0,0,0) 75%,rgba(145,0,0,1)), radial-gradient(circle 7rem at center 50%,#f4ac1b 20%,#e61713 60%),#e61713;}
	body.bg2{ background:url(images/bg2.png) center top/100% 100% no-repeat,#cc000b; }
	.bgW{ background:#fff; }
.fh,.fh body{height:100%; overflow:hidden;}

/*方正胖娃简体*/
@font-face { font-family:'font1'; src:url('../font/hkhbjt.ttf') format('truetype') }
.font1{ font-family:"font1"; }

body,ul,li,dl,dd,dt,p,h1,h2,h3{ margin:0; padding:0; list-style:none; }
h1{ font-size:18px; }
h2{ font-size:16px; }
h3{ font-size:14px; }
img{ display:inline-block; vertical-align:middle; margin:auto; border:none; }
input{ font-family:STHeiti-Light,'Hiragino Sans GB','Microsoft Yahei',Arial; cursor:pointer; outline:0; vertical-align:middle; }

/*链接*/
a/*:link, a:visited, a:active*/{ color:#555;text-decoration:none; /*outline:none;hide-focus:expression(this.hideFocus = true);*/ }
/*a:hover{ color:#666; text-decoration:none; }*/
.hand,label{ cursor:pointer; }

/*颜色*/
.blue1, a.blue1{ color:#0084cf; }
.blue2, a.blue2{ color:#2f1892; }
.gray1,a.gray1{ color:#868585; }
.black1{ color:#440000 !important; }
.white{ color:#fffbd3; }
.orange1{ color:#fed217; }
.pink{ color:#cf1f6e; }
.red,a.red{ color:#bd2d1b !important; }
.red2,a.red2{ color:#e4007f !important; }
.yellow{ color:#fad200; }
.yellow2{ color:#f5e828; }
.blue3{ color:#750f34;}
.green{ color:#009b73; }

/*文字样式*/
.under, a.under, .under:link, .under:visited, .under:active{ text-decoration:underline; }
.ovhide{overflow:hidden;}
.nowrap{ white-space:nowrap;}
.disN{ display:none !important; }
.disN2{ display:none; }
.curP{ cursor:pointer; }

/*margin,padding*/
.fl{ float:left; }
.fr{ float:right; }
.m5{ margin:0.1rem; }
.mr5{ margin-right:0.1rem; }
.mt0{ margin-top:0 !important; }
.mb0{ margin-bottom:0 !important; }
.mt5{ margin-top:0.1rem !important; }
.mb5{ margin-bottom:0.1rem !important; }
.mt10{ margin-top:0.2rem !important; }
.mb10{ margin-bottom:0.2rem !important; }
.mt20{ margin-top:0.4rem !important; }
.mt40{ margin-top:0.8rem !important; }
.mb20{ margin-bottom:0.4rem !important; }
.m10{ margin:0.2rem; }
.ml10{ margin-left:0.2rem; }
.mr10{ margin-right:0.2rem; }
.ml20{ margin-left:0.4rem; }
.mr20{ margin-right:0.4rem; }
.ml40{ margin-left:0.8rem; }
.mr40{ margin-right:0.8rem; }
.mr12p{ margin-right:12%; }
.p0{ padding:0px !important; }
.p5{ padding:0.1rem; }
.pb5{ padding-bottom:0.1rem; }
.pt5{ padding-top:0.1rem !important; }
.p10{ padding:0.2rem; }
.p15{ padding:0.3rem; }
.p20{ padding:0.4rem; }
.m02{ margin:0.2em; }
.pl10{ padding-left:0.2rem; }
.pl20{ padding-left:0.4rem !important; }
.pr20{ padding-right:0.4rem !important; }
.pr10{ padding-right:0.2rem; }
.pt10{ padding-top:0.2rem; }
.pb10{ padding-bottom:0.2rem; }
.pt20{ padding-top:0.4rem; }
.pb20{ padding-bottom:0.4rem; }
.pt30{ padding-top:0.6rem; }
.pb30{ padding-bottom:0.6rem; }
.pb40{ padding-bottom:0.8rem; }
.mtb10{ display:block; margin:0.2rem 0; }
.mtb20{ display:block; margin:0.4rem 0; }
.mtb30{ display:block; margin:0.6rem 0; }

/*font size*/
.s06em{ font-size:0.6em; }
.s08em{ font-size:0.8em; }
.s11em{ font-size:1.1em; }
.s12em{ font-size:1.2em !important; }
.s14em{ font-size:1.4em !important; }
.s16em{ font-size:1.6em; }
.s18em{ font-size:1.8em; }
.s20em{ font-size:2em; }
.s20em{ font-size:2.4em; }

.fs16rem{font-size:.16rem}
.fs18rem{font-size:.18rem}
.fs19rem{font-size:.19rem}
.fs20rem{font-size:.20rem}
.fs22rem{font-size:.22rem}
.fs24rem{font-size:.24rem}
.fs25rem{font-size:.25rem}
.fs26rem{font-size:.26rem}
.fs28rem{font-size:.28rem !important;}
.fs30rem{font-size:.30rem}
.fs32rem{font-size:.32rem}
.fs34rem{font-size:.34rem}
.fs36rem{font-size:.36rem !important;}
.fs38rem{font-size:.38rem !important;}
.fs40rem{font-size:.40rem}
.fs42rem{font-size:.40rem}
.fs44rem{font-size:.44rem}
.fs46rem{font-size:.46rem}
.fs48rem{font-size:.48rem}
.fs50rem{font-size:.50rem}
.fs56rem{font-size:.56rem}
.fs64rem{font-size:.64rem} 

.fn{ font-weight:normal; }
.fb{ font-weight:bold; }

.txtL{ text-align:left; }
.txtR{ text-align:right; }
.txtC{ text-align:center !important; }
.clear{ clear:both; }
.inlineB{ display:inline-block;}
.disB{ display:block;}
.posr{ position:relative !important; }
.posa{ position:absolute !important; }
.posS{ position:static !important; }

.vertiM{ vertical-align:middle; }
.vat{ vertical-align:top; }
.w50p{ width:50%; }
.maxW500{ display:inline-block; max-width:500px; }
.ml54p{ margin-left:54%; }

.bor1{ border-bottom:1px solid #eee; }
.bor2{ /*border-image: 15 17/15px 17px repeat;*/ border:1px dashed #f08300; border-radius:.5em; padding:.3em; }
.bor5{ border-bottom:4px solid #eee; }
.bor6{ border-top:4px solid #eee; }
.bor7{ border-bottom:1px solid #eee; position:relative; }
	.bor7:before{ content:""; position:absolute; left:50%; top:-3px; margin-left:-13px; border:10px solid #fff; border-width:0 10px; width:6px; height:6px; border-radius:50%; background:#eee; }

.hr1{ border-top:1px dashed #7f4c18; margin:.4em 0; }
.hr2{ border-top:1px solid #000; margin:.2em; }

/*--- common ---*/
.scale{ width:100%; }
.hei100{ height:100%;}
.shadow{ box-shadow:0 0 .3rem rgba(0,0,0,.4); }
.txtShadow{ text-shadow:1px 1px 1px rgba(0,0,0,.3); }

/*link*/
a.link1{ color:#005bac; text-decoration:underline; }
a.link2{ color:#fff100; text-decoration:underline; }
a.link3{ color:#f08200; text-decoration:underline; }
a.link4{ color:#f8ec03; text-decoration:underline; }

/*btn*/
.btnT1{ display:inline-block; width:3.46rem; line-height:1; overflow:; padding:.5em .0em .6em; font-size:.4rem; color:#320204; background:url(images/btnT1bg.png) center/100% 100% no-repeat; border-radius:.1rem; text-align:center; font-weight:; position:relative; -webkit-appearance:none; z-index:1; /*box-shadow:0 .1rem .2rem 0 #9aceec inset, 0 -.08rem .2rem 0 #00003a inset; font-family:font1; text-shadow:.02rem .02rem .02rem rgba(38,123,178,.7);*/ margin:0 .1rem; border:0rem solid #4d2828; }
	/*.btnT1:after{ content:""; position:absolute; top:.05rem; bottom:.1rem; left:.1rem; right:.12rem; border-radius:9em; background:url(images/btn1Hlight.png) 0 0/1.1em no-repeat; }*/
.btnT1.t2{ width:2.5rem; }
.btnT1.t3{ font-size:.26rem; padding:.5em .2em; min-width:1.8rem; margin:.2rem .05rem; }
.btnT1.t4{ font-size:.24rem; padding:.5em .1em; min-width:1.6rem; margin:.0rem .05rem; background: #e66221; color:#fdf4d3; }
.btnT1.t5{ font-size:16px; }
.btnT1.t6{ min-width: auto; }
.btnT1.t7{ background:#fdd100; color:#29416b; }
.btnT1.gray{ -webkit-filter: grayscale(0.8); }
	
.btnT2{ display:inline-block; border-radius:; line-height:1.2; padding-bottom:1px; border-bottom:1px solid #fff; color:#fff; font-size:.28rem; /*text-shadow:1px 1px 0 rgba(0,0,0,.5);*/ font-size:; font-weight: ; position: relative; }

.btnT3,.btnT3_2{ display:inline-block; background:-webkit-linear-gradient(#fed139 0%, #ffaa00 100%),#ffaa00; color:#ea0850; font-size:.3rem; font-weight:bold; line-height:1.5; border-radius:9rem; margin:.12rem auto 0; box-shadow:0 0 0 1px #ffd822 inset; padding:0 .2em; min-width:2.26rem; white-space:nowrap; border: 1px solid #fb9c11; }
.btnT3_2{ background:#fdd000; border:1px solid #fdd000; box-shadow:0 0 0 2px #fff inset; }

.btnT4{ display:inline-block; background:#fe5e52; border-radius:.1rem; color:#fff; font-size:.24rem; min-width:; line-height:.43rem; height:.43rem; padding:0 1em; /*box-shadow:0 0 12px 0px rgba(0,0,0,.2) inset;*/ }

.btnT5, .btnT5:link, .btnT5:visited, .btnT5:active{ display:inline-block; background:#67872b  0 0 repeat-x; border:1px solid #577024; border-radius:5px; color:#fff; font-size:20px; line-height:38px; height:39px; margin:10px 4px; padding:0 20px; white-space:nowrap;  }

/*文本*/
.title0{ color:#575756; background:#ffaf00; text-align:left; padding:3px; }
.title1{ display:inline-block; color:#505050; background:#f08300; font-size:14px; line-height:40px; padding:0 .2em;  background: center bottom no-repeat; background-size:100%; }
.title2{ width:181px; height:44px; font-size:20px; font-weight:bold; background: no-repeat; background-size:contain; line-height:44px; text-align:center; color:#ddff9e; text-shadow:-2px 2px 0 rgba(0,0,0,.3); margin:10px auto; }
.title4{ display:inline-block; font-size:14px; font-weight:bold; color:#f47c34; margin-top:-3px; padding:8px; line-height:1; border:1px solid #19b7c3; border-width:0 1px; }
.title5{ display:block; font-size:.24rem; color:#e60012; margin:15px 10px 0; line-height:1; border-top:1px solid #cf1f6e; font-weight: bold; }
	.title5 i{ font-style:normal; display:inline-block; background:#fff; padding:0 10px; -webkit-transform:translateY(-50%); }
	.title5 i:before,.title5 i:after{ content:none; position:absolute; left:0; top:50%; -webkit-transform:translate(-50%,-50%); width:3px; height:3px; border:1px solid #cf1f6e; border-radius:9em; background:#cf1f6e; }
	.title5 i:after{ right:-6px; left:auto; }
	.title5 i b:before,.title5 i b:after{ content:""; position:absolute; left:-35px; top:50%; -webkit-transform:translate(0,-74%); width:64px; height:50px; background: 0 0 no-repeat; background-size:auto 50px; }
	.title5 i b:after{ left:auto; right:-54px; background-image:; }
	
/*input box*/
.inputT1{ background:#fff; border:1px solid #ccc;  border-radius:5px; -webkit-border-radius:5px; width:95%; height:34px; line-height:34px; font-size:; padding:0 .5em; }

.inputT3{ width:100%; height:40px; line-height:40px; border:2px solid #413324; background:#fff; color:#000; border-radius:.0rem; box-sizing:border-box; padding:0 15px !important; text-align:left; font-size:15px; }
	.inputT3::-webkit-input-placeholder{ color:#868585;}
.inputT3.t2{ border-radius:.0rem 0 0 .0rem; border-right:0; }

.btnLogin{ background:#e7213e; color:#fff; width:auto; padding:0 10px; height:40px; line-height:38px; font-size:15px; min-width:0; border:2px solid #413324; border-left:0; border-radius:0 .0rem .0rem 0; margin:0; box-shadow:none; font-weight:normal; -webkit-appearance:none; }

/*tab*/
.tab1{ display:-webkit-box; display:box; /*-webkit-column-count:3; column-count:3; -webkit-column-gap:0; column-gap:0;*/ background:#f4f5f7; position:relative; overflow:hidden; }
	.tab1>*{ -webkit-box-flex:1; box-flex:1; position:relative; }
	.tab1>*:after{ content:""; position:absolute; top:0; right:0; height:24px; margin-top:8px; border-right:1px solid #e4e4e4; }
	.tab1>*:last-child:after{ content:normal; }
.tab1.t2{ height:40px; padding-bottom:28px; }
	.tab1 li>a{ display:inline-block; margin:0 10px; height:40px; line-height:40px; color:#9da0a6; font-size:1.1em; position:relative; }
	.tab1 li.on>a{ color:#007fbf; border-bottom:2px solid #007fbf; }
		/*.tab1 li.on>a:after{ content:""; position:absolute; bottom:0; left:50%; margin-left:-6px; border:6px solid transparent; border-bottom-color:#00a0e9; }*/
	.tab1 li dl{ display:none; position:absolute; left:0; right:0; background:#00a0e9; }
	.tab1 li.on dl{ display:block; }
		.tab1 li dl dd{ float:left; width:33.333%; }
			.tab1 li dl dd a{ color:#fff; line-height:28px; height:28px; }
			.tab1 li dl dd.on a{ color:#fff100; }
	
/*custom radio*/
.cusRadio1{ -webkit-column-width:200px; column-width:200px; }
	.cusRadio1 li{ display:block; border:2px solid #bbb; margin-bottom:10px; line-height:30px; font-size:1.1em; cursor:pointer; }
	.cusRadio1 li.on{ border:2px solid #fd6b13; color:#fd6613; }

.box1{ max-width:6.4rem; background:#fff; border:.05rem solid #440000; color:#4d2828; border-radius:.2rem; margin:0 auto; padding:.2rem; box-sizing:border-box; position:relative; z-index:1; }
.box1:after{ position:absolute; z-index:-1; content:none; top:-25px;right:-20px; width:66px; height:100px; background: no-repeat; background-size:contain;  }
.box1>.tit{ font-size:.35rem; font-weight:bold; width:3.64rem; line-height:.87rem; position:relative; margin:-.7rem auto .2rem; background:url(images/tit1bg.png) center/contain no-repeat; color:#fff000; }
	/*.box1>.tit:before{ content: ""; position: absolute; z-index:-1; height:1rem; top:-1.1rem; left:-10%; right:-10%; height:2rem; border-radius:100%/100%; background:#fdf4d3; }*/
	
.box1 .bg{ overflow: hidden; position:absolute; z-index:-1; top:0;left:0;bottom:0; right:0; border-radius: .4rem; }
.box1 .bg:before{ content:""; position: absolute; z-index:-1; bottom:0; height:2rem; left:-10%; width:120%; border-radius:100%/100%; background:#fdf4d3; -webkit-transform: translateY(0rem); }
.box1 .bg:after{ content: ""; position: absolute; z-index:-1; top:0; bottom:0; left:0; width:100%; background:#fdf4d3; -webkit-transform: translateY(-1rem); }

.cloudT2{ right:auto; left:-10px; top:70%; }
.cloudT3{ right:7%; left:auto; top:auto; bottom:20px; }

.box1.t2{ color:#575756; border-color:#fff; box-shadow:0 2px 10px rgba(0,0,0,.2); }
.box1.t2:after{ content:normal; }
.box1.t3:after{ content:normal; }
.box1.t2.hasIcon:after{ content:""; }

.box2{ background:#fdf4d3; padding:.2rem; margin:auto; max-width: 6.4rem; color:#4d2828; border-radius:.4rem; position:relative; }
	.box2 .box1{ margin:.2rem -.2rem -.2rem; max-width:none;}

.box3{ background:#fbd26b; padding:.2rem; margin:auto; color:#4d2828; border-radius:.4rem; position:relative; }

/*bar*/
.bar1{ text-align:left; padding:0 1em; clear:both; background:#a5cd42  top center repeat-x; }
	.bar1 h1{ font-weight:normal; line-height:37px; height:38px; font-size:1.4em; }

/*仿表格布局*/
.layout1{ text-align:left; }
	.layout1>li{ margin:.3em 0; overflow:hidden; }
	.layout1>li>p{ float:left; width:70px; padding:0 0; font-family:"cusfont1"; font-size:14px; }
	.layout1>li>div{ margin-left:70px; padding:0 0 0 0em; }

.layoutTb{ }
	.layoutTb>li{ display:table-row; }
	.layoutTb>li>*{ display:table-cell; padding:5px 0; }
	.layoutTb>li>*:first-child{ padding-right:5px;}

.layout2{ height:70px; /*display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-box;display:box;*/ -webkit-column-count:4; column-count:4; border:1px solid #ebebeb; -webkit-column-rule:1px solid #ebebeb; column-rule:1px solid #ebebeb; -webkit-column-gap:1px; column-gap:1px; }
	.layout2 li{ -webkit-column-break-after:always; column-break-after:always; /*-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1; box-orient:horizontal;*/ }
		.layout2 li a{ padding-top:45px; color:#979797; display:block; background-position:center 5px; background-repeat:no-repeat; }

.layout3{ line-height:34px; }
	.layout3 li{ display:-webkit-box; display:box; padding:5px 0; }
		.layout3 li i{ font-style:normal; display:inline; padding:0; margin:0; }
		.layout3 li p{ -webkit-box-flex:1; box-flex:1;}
		.layout3 li>:nth-child(1){ margin-right:0px; }
		
.layoutVM{ display:-webkit-box; display:box; -webkit-box-orient:vertical; -webkit-box-pack:center; height:100%; }
	.layoutVM>*{  }
.layoutAH{ display:-webkit-box; display:box; -webkit-box-orient:vertical; }
	.layoutAH>.heightMax{ -webkit-box-flex:1; }


.flex{ display:-webkit-box; -webkit-box-pack: center;}
.flex.equal>*{ -webkit-box-flex:1;}
.flex.chdSpc2>*{ margin-right:.2rem; }
.flex.chdSpc2>*:last-child{ margin-right:0; }
	.flex1{ -webkit-box-flex:1;}
	.flexHM{ -webkit-box-pack:center; }
	.flexVM{ -webkit-box-pack:center; -webkit-box-orient: vertical; }
	.flexSpace{ -webkit-box-pack:justify;}


/*--- 框架 ---*/
#pagewrapper{
	font-size:1.4em;
	margin:0 auto;
	min-width:320px;
	border:0px solid red;
	position:relative;
	}
#head{ overflow:hidden; color:#fff; padding:.5em .5em 0; background:#2b4d70; }
	#head .userInfo{ float:left; }
	#head .userInfo .fl{ }
	#head .userInfo .fl a{ display:inline-block; border-radius:50%; border:.1em solid #fdd000; overflow:hidden; }
		#head .userInfo a img{ width:2.2em; height:2.2em; }
	#head .userInfo .fl p{ font-size:.6em; margin-top:; }
	#head .jifen{ float:left; margin:0 0 0 .5em; font-size:.9em; border-left:1px solid #fff; color:#fff; text-align:left; }
		#head .jifen a{ padding-top:3px; display:inline-block;}
	#head .links{ float:right; text-align:right; margin-top:1em; }
		#head .links a{ color:#fff; font-size:1.1em; text-decoration:underline; }
#head.t2{ padding:.5em; }
	
#content{ }
#content .contwrap{ margin:10px; }

#footer{ color:#464646; background:#a1cb3f; padding:10px; }

.textarea1{ width:100%; padding:5px; height:100px; margin-top:10px; line-height:1.5em; box-sizing:border-box; border:1px solid #d7d7d7; border-radius:5px; }
.textarea1.t2{ height:52px; }
.textarea1.t3{ height:72px; }
.textaWrap{ background:#fff; clear:both; padding:1px 1px 1px 5px; *padding:0 1px; border:1px solid #9eb5e9; }
	.textaWrap textarea{ width:100%; height:90px; border:0; padding:4px 0; margin:0; }

/*login*/
.login{ max-width:280px; margin:0 auto .3rem; line-height:4em; border:0 solid #19b7c3; padding:10px 10px 0; position:relative; }
	.login input[type=text], .login input[type=password]{ width:100%; padding:.2em 0; outline:none; }
	.login .loginBtn{ margin:30px 0 0 -8px; }

.font12{ font-size:0.24rem;}
.font13{ font-size:0.26rem;}
.font16{ font-size:0.32rem;}
.lineh1{ line-height:1;}
.lineh15{ line-height:1.5;}
.lineh2{ line-height:2;}
.lineh3{ line-height:3;}

.homePage{ background: center 0 no-repeat; background-size:contain; position:relative; }
	.homePage a{ position:absolute; bottom:3.6%; left:13.9%; right:54.3%; border:0px solid red; }
	.homePage a:nth-of-type(2){ right:13.9%; left:54.3%; }
		.homePage a img{ width:100%; }
		
/*dot.dot.*/
.list1{ text-align:left; }
	.list1 li{ padding:4px 10px; }
	.list1 li:before{ content:""; display:inline-block; margin:0 2px 2px -10px; width:8px; height:8px; background:#cf1f6e; border-radius:1em; }
	.list1 li b{ color:#fff100; font-size:16px; }
.list1.t2{ padding:0 0 0 15px; }
	.list1>dt{ padding:4px 0; position:relative; color:#cf1f6e; font-size:1.2em; }
	.list1>dt:before{ content:""; position:absolute; left:0; top:7px; margin:0 2px 2px -10px; width:8px; height:8px; background:#cf1f6e; border-radius:1em; }
	.list1>dt.nor:before{ content:normal; }
/*1.2.3.*/
.list1_2{ margin:auto; text-align: left; list-style: none; padding:.1rem .1rem; line-height: 1.6; }
	.list1_2 li{ counter-increment:name; padding:0 0 0 .4rem; position:relative; }
	.list1_2 li:before{ content:counter(name)"."; position: absolute; top:0; left:0; width:.4rem; height:.4rem; border-radius:9em; border:0px solid #009b73; color:#000; text-align:center; }
	.list1_2 li:nth-child(1):before{ counter-reset:name 1; }
	
.list2{ text-align:left; color:#a5a5a5; }
	.list2 li{ border-bottom:1px solid #eee; padding:.6em 0; }
.list3{ margin:10px 10px 0; font-size:12px; color:#333; text-align:left; padding:0px 0 0px 20px; }
	.list3 li{ counter-increment:name; margin:0; padding:5px 0 5px 30px; line-height:1.5; border-left:1px dashed #3329b7; position:relative;}
	.list3 li:before{ content:counter(name); font-size:20px; font-family:arial; border:1px solid #10096d; background:#3329b7; background-size:contain; position:absolute; left:0; top:50%; -webkit-transform:translateY(-50%); width:30px; height:30px; line-height:30px; border-radius:9em; color:#ff00a4; margin-left:-15px; margin-right:10px; text-align:center; font-style:italic; }
	.list3 li:nth-child(1):before{ counter-reset:name 1; } /*手机qq微信浏览器会从0开始*/
	

.list4{ margin:0 .4rem; text-align:left; font-size:.17rem; background:#f9ac0c; color:#4c2828; border:2px solid #4c2828; padding:.2rem 0; }
.list4:after{ content:""; clear:both; display:block; }
	.list4 li{ counter-increment:name; float:left; width:33.3%; border-right:1px solid #4c2828; box-sizing:border-box; padding:.1rem .1rem .1rem .3rem; position:relative; }
	.list4 li:last-child{ border:0; }
	/*.list4 li:before{ content:counter(name); font:bold 50px arial; position:absolute; bottom:-38px; left:50%; line-height:1; color:#1eaac1; text-align:center; -webkit-transform:translateX(-50%); }*/
	.list4 li:after{ content:""; position:absolute; right:-3px; top:50%; width:.2rem;height:.2rem; background:#f9ac0c; border:1px solid #4c2828; border-width:0 1px 1px 0; -webkit-transform:rotate(-45deg) translate(50%,-50%); }
	.list4 li:last-child:after{ content:""; display:none;}
	.list4 li:nth-child(1):before{ counter-reset:name 1; } /*手机qq微信浏览器会从0开始*/

.list4.t2{ width:42%; margin:.4rem auto -2px; text-align: center; }
	.list4.t2 li{ width:100%; }


.close{ text-align:right; padding:.5em .5em 0; }
	.close a{ display:inline-block; font-size:2em; font-family:arial; width:1em; height:1em; line-height:1em; background:#000; color:#fff; opacity:.9; text-align:center; }


/*平均分*/
.third{ overflow:hidden; }
	.third>*{ float:left; width:33.333%; }
.quarter{ overflow:hidden; }
	.quarter>*{ float:left; width:25%; }
.firth{ overflow:hidden; }
	.firth>*{ float:left; width:20%; }
.third.splitL{ }
	.third.splitL>*:nth-child(2){ border:1px solid #b5b6b6; border-width:0 1px; margin:0 -1px; }

/*弹出层*/
#cover,#cover2{ position:absolute; z-index:10; top:0; bottom:0; left:0; right:0; background:#000; opacity:.6; display:none;}
#cover2{ opacity:.7; position:absolute; background:#000; }
#cover2.t2{ top:60px; }
#cover2.t3{ opacity:1; background:#210d00; }
.tipBox{ display:none; position:absolute; z-index:11; background:#fff; top:0; left:0; border:0px solid red; font-size:1.2em;  color:#333; width:90%; }
	.tipBox h2{ font-size:1.2em; font-weight:normal; color:#333; background:#ebf462; text-align:left; margin:0; padding:0; border-radius:.5ex .5ex 0 0; }
		.tipBox h2 b{ position:absolute; right:-1.5ex; top:-1ex; width:2.5ex; height:2.5ex; background:#9ca51a; background-size:contain; border-radius:3ex; cursor:pointer; display:none; }
	.tipBox .cont{ padding:.8em; text-align:left; }
		.tipBox .cont .tipTxt{ background: right bottom no-repeat; background-size:contain; background-origin:content-box; word-break:break-all; font-size:1.3em; padding:.5em 0; }
		.tipBox .cont .tipTxt .tit{ margin:0 0 .5em; font-size:1.2em; text-align:center; }

.tipBox2{ display:none; position:fixed; z-index:11; top:0; left:0; bottom:0; width:100%; color:#fff; }
.tipBox2.t2{ top:60px; }

.xx4_pop{ position:absolute; top:50%; left:50%; width:80%; max-width:480px; -webkit-transform:translate(-50%,-50%); z-index:3000; background:#fefefe/* url(images/box1bg.png) right bottom/1.32rem 1rem no-repeat*/; color:#320204; text-align:center; border-radius:.3rem; font-size:.28rem; display:none;
/*border-image:url(images/popBg.png) 270 22 28 fill/3.0rem .22rem .28rem;*/ padding-bottom:.12rem; }
	.xx4_pop_tit{ color:#6ba612; line-height:45px; font-size:20px; padding-left:20px; position:relative; }
	.xx4_pop_cont{margin:; padding:.2rem .2rem; font-size:.24rem; border:0px solid #fff; border-radius:.3rem; overflow: hidden; position: relative; }
		.xx4_pop_cont>div{text-align:left; display:inline-block; }
	
.xx4_pop.t2{ background:-webkit-linear-gradient(0,#ef8b16 0%,#fdc703 50%,#ef8b16 100%),#ef8b16; color:#4d2828; }
.xx4_pop.t2 .bg{ overflow: hidden; position:absolute; z-index:-1; top:0;left:0;bottom:0; right:0; border-radius: .4rem; }
.xx4_pop.t2 .bg:before{ content: ""; position: absolute; z-index:-1; height:1rem; top:50%; left:-10%; width:120%; height:2rem; border-radius:100%/100%; background:#fdf4d3; -webkit-transform: translateY(-2rem); }
.xx4_pop.t2 .bg:after{ content: ""; position: absolute; z-index:-1; height:1rem; top:0; left:0; width:100%; height:50%; background:#fdf4d3; -webkit-transform: translateY(-1rem); }
.xx4_pop.t3{ margin-top:-20px; }

.xx4_pop .iconClose, .boxT1 .iconClose{ position: absolute; top:-.2rem; bottom:auto; left:auto; right:-.2rem; -webkit-transform:translateX(0); float:right; margin:0; background:#d1140e; border-color:transparent; border-radius:9em; color:#fff; padding:0; text-indent:-.16rem; line-height:1.5; font-size:.6rem; z-index:1; /*box-shadow:2px 2px 3px rgba(0,0,0,.5); text-shadow:1px 1px #000;*/ font-weight: bold; }
.boxT1 .iconClose{ position:absolute; right:-18px; top:-20px; left:auto; }
.xx4_pop .btnOuts{ position:absolute; bottom:-.9rem; left:-.5rem; right:-.5rem;}
.xx4_pop .btnOuts .btnT1{ font-size:.33rem; width:2.48rem; }

.shareArr{ position:absolute; top:-3.0rem; right:-.5rem; width:1.57rem; height:1.77rem; background:url(images/shareArr.png) center/contain no-repeat; }

.modal{ overflow:hidden !important; }
/*弹出层结束*/

/*二类公用*/
.iconClose{ float:left; margin:20px; color:#000; border:1px solid #000; font-size:30px; font-family:"Times New Roman", Times, serif; width:30px; height:30px; line-height:30px; border-radius:50%; background:#e4007f; cursor:pointer; top:0px; left:0px; }
.btm_fix{ }
	.btm_fix .pad{ height:38px; }
	.btm_fix .fix{ z-index:10; position:fixed; bottom:0; display:block; left:0; width:100%; background:#f4f5f7; padding:10px 0; }

.logo{ height:.8rem; background:url(../images/logo.png) .24rem .24rem no-repeat; background-size:2.1rem; position:relative; }
.logo2{ height:.8rem; background: .2rem .2rem no-repeat; background-size:1.8rem; }

.homefH{ display:-webkit-box; display:box; -webkit-box-orient:vertical; height:100%; }
	.homefH>p{ border:0px solid red; }
	.homefH>p:nth-child(1){ min-height:6%; }
	.homefH>p:nth-child(2){ height:25%; -webkit-box-flex:1; background:url(../images/headBg.png) center 30%/contain no-repeat; background-origin: content-box; padding:0 .5rem; }
	.homefH>:nth-child(3){ height:; -webkit-box-flex:1; display:box; display:-webkit-box; -webkit-box-orient:vertical; -webkit-box-pack:center; }
	.homefH>:last-child{ padding:.1rem 0; margin-top:; }

.mainfH{ display:-webkit-box; display:box; -webkit-box-orient:vertical; height:100%; }
	.mainfH>p:nth-child(1){ }
	.mainfH>p.main{ height:40%; -webkit-box-flex:1; background: center 0 no-repeat; background-size:auto 100%; position:relative; margin-top:10px; }
		
input[type='radio']{ -webkit-appearance:none; width:18px; height:18px; border:2px solid #009eff; border-radius:9em; background:#fff; box-shadow:0 0 0 2px #fff inset; margin:0 5px; }
	input[type='radio']:checked{ background:#009eff; }
input.c2[type='radio']{ border-color:#ff4d6f; }
	input.c2[type='radio']:checked{ background:#ff4d6f; }
	
.main{ position:relative; }
	.main .mask{ position:absolute; bottom:0; left:0; right:0; }
	.main .bqian{ position:absolute; top:47.7%; left:23.1%; right:31%; background: no-repeat; background-size:contain; }
	.main .divu{ z-index:11; }

.ewm{ background:#fff; display:inline-block; border:.03rem solid #cc447b; padding:3px; margin:5px auto; border-radius:.2rem; }
.ewm>img{ width:2.16rem; }

.flex1{ -webkit-box-flex:1; position:relative; }
.scroll{ overflow-x:hidden; overflow-y:auto; }
.scroll::-webkit-scrollbar{ width:4px; }
.scroll::-webkit-scrollbar-track{ background-color:#d3d3d3; border-radius:9em; }
.scroll::-webkit-scrollbar-thumb{ background-color:#bf0a09; border-radius:9em; }

.loginPic1{ max-width:320px; height:30%; margin:auto; padding:0 20px 5px; }
	.loginPic1 img{ max-height:100%; max-width:100%; width:auto; }
	.loginPic1 img:nth-of-type(2){ max-height:30%; margin-top:-1%; }
.loginPic2{ max-width:320px; height:20%; margin:auto; padding:0 0px 5px; }
	.loginPic2 img{ max-height:100%; max-width:100%; width:auto; }
.boxT1{ border:0px solid #19b7c3; box-sizing:border-box; background:#fff url(images/box1bg.png) right bottom/1.32rem 1rem no-repeat;color:#000; border-radius: .2rem; /*border-image:url(images/box1Bg.png) 42 42 fill/21px;*/ position:relative;
 }
.boxT1:before{ content: ""; position: absolute; left:46%; top:-.3rem; width:.44rem; height:.58rem; background:url(images/iconPin.png) center/contain no-repeat; }

.fixTip{ position:fixed; bottom:0; left:0; right:0; font-size:.25rem; text-align:center; line-height:.61rem; background: rgba(0,0,0,.58); color:#fff; padding:0 .5rem; }

.tableT1{ width:100%; border-radius:0; overflow:hidden; font-size:.25rem; line-height:1.2; border-top:1px solid #313131; border-left:1px solid #313131; border-spacing:0; }
	.tableT1 th{ padding:.2rem; background:; color:#fff; border-right:1px solid #313131; border-bottom:1px solid #313131;}
	.tableT1 td{ padding:.1rem; background:; color:#320204; border-right:1px solid #313131; border-bottom:1px solid #313131; }
	.tableT1 .hei2 *{ padding:; }
	/*.tableT1 th:last-child,.tableT1 td:last-child{ border-right:0; }
	.tableT1 tr:last-chlid>*{ border-bottom:0; }*/

.tableListData{ width:100%; border-spacing:0; }
	.tableListData td{ padding:.05rem; }

/*new*/
.imgw1{ width:1.44rem; }
.icon20u{ width:1.17rem; }
.mtxt1{ line-height:1.43; letter-spacing:.2em; }
.mtxt2{ line-height:1.43; letter-spacing:.1em; }
.xx4_pop:before{ content: none; position: absolute; left:46%; top:-.3rem; width:.44rem; height:.58rem; background:url(images/iconPin.png) center/contain no-repeat; }

.mset1{ border:.06rem solid #d1140e; box-shadow:0 .03rem .07rem rgba(0,0,0,.3), 0 .03rem .07rem rgba(0,0,0,.3) inset; background:rgba(255,255,255,.43); padding:.1rem; }
	.mset1 .item{ font-size:.26rem; border:.04rem solid #d1140e; margin:.1rem .05rem; padding:.1rem .05rem; position: relative; background:#fff; }
		.mset1 .item .txt2{ font-size:.2rem; padding:.1rem 0 0; color:#888; }
		.mset1 .item:after{ content:""; position: absolute; top:-.2rem; right:-.15rem; width:.5rem; height:.5rem; background:#fff url(images/iconCorr.png) center/contain no-repeat; border-radius:9em; }
		.mset1 .item.gray:after{ background-image:url(images/iconCorrGray.png); }
		.mset1 .item.pitch:after{
			background-image: url(images/iconCorr.png);
		}
	.mset1 .blue1{ color:#d1140e; }

.mset2{ background:#fff; border-radius:.3rem; color:#502a13; line-height:1.62; }

.mTit1{ display:inline-block; margin:.2rem auto; width:2.58rem; height:.58rem; line-height:.58rem; font-size:.36rem; font-weight:bold; font-style:italic; background:url(images/tit1bg.png) center/contain no-repeat; color:#fff; }


.iconArr1{ display: inline-block; width:.33rem; height:.26rem; background:url(../images/iconArr1.png) center/contain no-repeat; vertical-align: middle; }
.iconNotice{ display: inline-block; width:.33rem; height:.26rem; background:url(../images/iconNotice.png) center/contain no-repeat; vertical-align: middle; }


.mBar1{ width:6.48rem; background:url(images/hlz.png) center 0/100% no-repeat; padding-top:2.91rem; margin:auto; font-size:.4rem; }
	.mBar1>div{ background:#e6221b; color:#fff000; border:.07rem solid #440000; border-radius:.4rem; padding:.1rem; }
		.mBar1>div>div{ border:.05rem solid #0e1669; border-radius:.28rem; padding:.1rem; position: relative; }
			.mBar1>div>div:before{ content:""; position: absolute; bottom:.24rem; left:0; width:.4rem; height:.26rem; background:url(images/box1E1.png) 0 0/auto 100% no-repeat; }
			.mBar1>div>div:after{ content:""; position: absolute; top:.22rem; right:0; width:.4rem; height:.38rem; background:url(images/box1E2.png) 0 0/auto 100% no-repeat; }

.mBar1.t2{ width:5.78rem; padding-top:2.25rem; font-size:.36rem; }
.mBar1.t3{ width:5.78rem; padding-top:0rem; font-size:.36rem; }

.mbtn1{ display:inline-block; font-size:.2rem; line-height:.44rem; background:rgba(60,0,0,.5); color:#fdf4d3; border-radius: 9em; padding:0 .3rem; margin:.08rem 0; text-align: center; }
.mbtn1.t2{ background:rgba(245,151,4,.8); }

.btnT2.c2{ border-color:#320204; color:#320204; }


.ticket{ width:3.76rem; height:.9rem; line-height:1.2; display:-webkit-box !important; -webkit-box-orient: vertical; -webkit-box-pack:center; background:url(images/tickbg.png) center/contain no-repeat; margin:.2rem auto; font-size:.38rem; color:#990000; font-weight:bold; text-align: center !important; }
.ticket2{ width:1.42rem; height:.52rem; line-height:1.2; display:-webkit-box !important; -webkit-box-orient: vertical; -webkit-box-pack:center; background:url(images/tickbg2.png) center/contain no-repeat; margin:0rem auto; font-size:.22rem; color:#440000; font-weight:bold; text-align: center !important; }

.mainP1{ position: absolute; top:.2rem; right:.3rem; }

.figure1{ border:.03rem solid #173024; width:.56rem; height:.56rem; }

.mbtn2{ display:-webkit-box; -webkit-box-orient: vertical; -webkit-box-pack:center; font-size:.22rem; line-height:1.2; background:#ffcc00; color:#440001; border-radius:.2rem; width:1.59rem; height:.6rem; text-align: center; }
.mbtn2.t2{ background:#dd7d01; }
.mbtn2.t3{ background:#b02319; color:#fff; }
	.mbtn2.t3 b{ color:#fff000; }

.inputT4{ background:none; border:1px solid #fff; border-width:0 0 1px; width:100%; line-height:; font-size:.2rem; padding:.2em; box-sizing: border-box; outline: none; color:#fff; }

